body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.417);
    font-size: 1.2em;
}
h1{
    margin: 0;
}
#AddHeroArray{
    display: flex;
    flex-direction: column;
    margin: 50px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 40px;
}

#AddHeroButton{
    margin: 20px;
}
.HeroInput{
    margin-bottom: 10px;
    border: 1px solid transparent;
    height: 20px;
}
.HeroInputError{
    border: 1px solid red;
}
#heroesList{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px; 
    border-radius: 30px;
    margin: 50px auto; 
}

.hero-card {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px; 
    text-align: center;
    box-shadow: 10px 10px 10px grey;
    font-size: 1.3em;
}

.hero-card button {
    color: red;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 30px; 
    font-size: 1em;
    transition: 0.3s all ease-in-out;
    margin-top: 15px; 
}

.MessageOK{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:green;
    text-shadow: 2px 2px 2px rgb(130, 128, 128);
    font-size: 0.9em;
}
.MessageKO{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:red;
    text-shadow: 2px 2px 2px rgb(130, 128, 128);
    font-size: 1.2em;
}
#recharge{
    position: fixed;
    top: 20px;
    left: 20px;
}
#recharge, #AddHeroButton{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    border-color: transparent;
    transition: all 0.3s ease-in-out;
}
#recharge:hover, #AddHeroButton:hover,.hero-card button:hover{
    transform: scale(1.1);
    border-color: black;
    box-shadow: 8px 8px 8px grey;
}

#AddHeroButton{
    margin-top: 50px;
}

