body{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* width: 60vw; */
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.417);
    font-size: 1.2em;
}
h1{
    margin: 0;
}
#AddHeroArray{
    display: flex;
    flex-direction: column;
}

#AddHeroButton{
    margin: 20px;
}
.HeroInput{
    margin-bottom: 10px;
    border: none;
    height: 20px;
}
.HeroInputError{
    margin-bottom: 10px;
    border: 1px solid red;
    height: 20px;
}
#heroesList{
    width: 80vw;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 30px;
    /* background-color: rgb(231, 231, 144); */
    /* box-shadow: 10px 10px 10px grey; */
    margin: 50px;
}

.hero-card{
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 50px;
    text-align: center;
    box-shadow: 10px 10px 10px grey;
    font-size: 1.3em;

    button{
        color: red;
        border: 1px solid black;
        border-radius: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 1em;
    }
}

.MessageOK{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:green;
    text-shadow: 2px 2px 2px rgb(130, 128, 128);
    font-size: 0.9em;
}
.MessageKO{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:red;
    text-shadow: 2px 2px 2px rgb(130, 128, 128);
    font-size: 0.9em;
}
#recharge, #AddHeroButton{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    border: none;
}

#AddHeroButton{
    margin-top: 50px;
}

