body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.2em;
}
h1{
    margin: 0;
}
#AddHeroArray{
    display: flex;
    flex-direction: column;
    margin: 50px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    padding: 40px;
    background-color: grey;
}

#AddHeroButton{
    margin: 20px;
    border: 1px solid rgb(109, 109, 109);
}
.HeroInput{
    margin-bottom: 10px;
    border: 1px solid transparent;
    height: 20px;
}
.HeroInputError{
    border: 1px solid red;
}
#heroesList{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px; 
    border-radius: 30px;
    margin: 50px auto; 
}

.hero-card {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px; 
    text-align: center;
    font-size: 1.3em;
    transition: 0.3s all ease-in-out;
}
.hero-card:hover,#recharge:hover, #AddHeroButton:hover{
    box-shadow: 0 0 28px white;
    background-color: white;
    border-color: white;
    color: black;
}
.hero-card h3{
    color:red;
}
.hero-card button {
    color: red;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 30px; 
    font-size: 1em;
    transition: 0.3s all ease-in-out;
    margin-top: 15px; 
}

.MessageOK{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:green;
    font-size: 0.9em;
}
.MessageKO{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:red;
    font-size: 1.2em;
}
#recharge{
    position: fixed;
    top: 20px;
    left: 20px;
}
#recharge, #AddHeroButton{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    background-color: grey;
}
/* #recharge:hover, #AddHeroButton:hover{ */
    /* transform: scale(1.1);
    border-color: black;
    box-shadow: 8px 8px 8px grey;
        cursor: pointer;

} */
.hero-card button:hover{
    color: white;
    background-color: red;
    box-shadow: 0 0 13px red;
    border-color: red;
    cursor: pointer;

}



