
body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.2em;
    min-height: 98vh;
}
h1{
    margin: 0;
}
.asideOpened{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(170, 170, 170); */
    backdrop-filter: blur(50px);
    box-shadow: 0 0 88px rgb(0, 0, 0);
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 110%;
    transition: all ease-in-out 0.3s;

}
.asideClosed{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: rgb(170, 170, 170); */
    /* box-shadow: 0 0 28px rgb(170, 170, 170); */
    /* flex-direction: column; */
    position: fixed;
    top: 0;
    left: 0;
    height: 110%;
    width: 187px;
    transition: all ease-in-out 0.3s;
}
.logoOpened{
    position: fixed;
    top: 20px;
    left: 20px;
    width: 400px;
    transition: all ease-in-out 0.3s;

}
.logoClosed{
    position: fixed;
    top: 20px;
    left: 20px;
    width: 150px;
    transition: all ease-in-out 0.3s;

}
.menuClosed{
    visibility: visible;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
    padding: 8px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    
    p{
        font-size: 0.8rem;
    }
}
.menuOpened{
    visibility: hidden;
}
.AddHeroArrayOpened{
    visibility: visible;
    display: flex;
    flex-direction: column;
    margin: 30px;
    /* border: 1px solid rgb(255, 255, 255); */
    border-radius: 30px;
    padding: 30px;   
    transition: visibility 0s; 
    transition: all ease-in-out 0.3s;
}
.AddHeroArrayClosed{
    visibility: hidden; 
    /* transition: all ease-in-out 0.3s;    */
}

.buttonOpened{
    visibility: visible;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    background-color: rgb(167, 166, 166);
    margin: 10px;
    border: 1px solid rgb(109, 109, 109);
    transition: visibility 0s; 


}
.buttonClosed{
    visibility: hidden;
}
.HeroInput{
    margin-bottom: 10px;
    border: 1px solid transparent;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.HeroInputError{
    border: 1px solid red;
}
#heroesList{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px; 
    border-radius: 30px;
    margin: 50px auto; 
}

.hero-card {
background-image: linear-gradient(to left, #000000, #333333,#000000);    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px; 
    text-align: center;
    font-size: 1.3em;
    transition: 0.3s all ease-in-out;
}
.hero-card:hover,#recharge:hover, #AddHeroButton:hover{
    box-shadow: 0 0 28px white;
    background-image: none;
    background-color: white;
    border-color: white;
    color: black;
    h3{
        text-shadow: 0 0 5px red;
    }
    p{
        text-shadow: 0 0 5px rgb(0, 0, 0);
    }
}
.hero-card h3{
    color:red;
}
.hero-card button {
    color: red;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 30px; 
    font-size: 0.97em;
    transition: 0.3s all ease-in-out;
    margin-top: 15px; 
}

.Message{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
    height: 30px;
    background-color: transparent;
    margin: 15px 0;
}
.MessageOK{
    background-color: white;
    color:green;
}
.MessageKO{
    background-color: white;
    color:red;
}
/* #recharge{
    position: fixed;
    top: 20px;
    left: 20px;
} */

/* #recharge:hover, #AddHeroButton:hover{ */
    /* transform: scale(1.1);
    border-color: black;
    box-shadow: 8px 8px 8px grey;
        cursor: pointer;

} */
.hero-card button:hover{
    color: white;
    background-color: red;
    box-shadow: 0 0 13px red;
    border-color: red;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9em;

}



