body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: darkgrey;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#hero-info{
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h1{
    margin: 0;
}

#image{
    margin: 20px;
}

#image img{
    width: 250px;
    border-radius: 30px;
    border: 3px solid white;
    box-shadow: 20px 20px 7px rgba(35, 31, 31, 0.2); 
}


#titre{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 5rem;
    margin: 10px;
}

.gras, #titre{
    color: white;
}
#contain{
    width: 450px;
}

p{
    width: 100%;
    margin: 0;
    text-align: left;
}
